{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <section class="section" id="shoes">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Новое</h2>
                        <span>Детали к деталям — вот что отличает наш магазин от других...</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container_shoes">
            <div class="item">
                <div class="item1_img">
                    <img src="/static/img/sneakers.jpg" alt="">
                </div>
                <div class="down-content">
                    <h4>Кеды 1</h4>
                    <span>7000.00 &#8381;</span>
                </div>
            </div>
            <div class="item">
                <div class="item2_img">
                    <img src="/static/img/sneakers2.jpg" alt="">
                </div>
                <div class="down-content">
                    <h4>Кеды 2</h4>
                    <span>6800.00 &#8381;</span>
                </div>
            </div>
            <div class="item">
                <div class="item3_img">
                    <img src="/static/img/boots.jpg" alt="">
                </div>
                <div class="down-content">
                    <h4>Ботинки</h4>
                    <span>7900.00 &#8381;</span>
                </div>
            </div>
        </div>
    </section>
{% endblock %}